<section class="Sidebar" layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
    <sidebar-button service="bikePointsService" show-text="Show Bike points" hide-text="Hide Bike points"></sidebar-button>
    <sidebar-button service="cycleHighwaysService" show-text="Show Cycle highways" hide-text="Hide Cycle highways"></sidebar-button>

    <sidebar-button-input service="linesService" method="toggleStops" show-text="Search stops" input-placeholder="Line"></sidebar-button-input>
</section>